<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/product.css" />
    <link rel="stylesheet" href=<%= '/style/' + ((cssFile) ? cssFile : '') %> />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a class="<%= (route === 'index') ? 'active' : '' %>" href="/shop/index">Shop</a>
          </li>
          <li class="main-header__item">
            <a class="<%= (route === 'checkout') ? 'active' : '' %>" href="/shop/checkout">Cart</a>
          </li>
          <li class="main-header__item">
            <a class="<%= (route === 'productAdd') ? 'active' : '' %>" href="/admin/productAdd">Add Product</a>
          </li>
          <li class="main-header__item">
            <a class="<%= (route === 'repo') ? 'active' : '' %>" href="/admin/repo">Repo</a>
          </li>
          
        </ul>
      </nav>
    </header>